<launch>
    <group ns="base">
        <group ns="encoder">
            <node name="left" pkg="encoder_controller" type="encoder_controller" output="screen"/>
            <node name="right" pkg="encoder_controller" type="encoder_controller" output="screen"/>
        </group>

        <group ns="motor">
            <node name="left" pkg="motor_controller" type="motor_controller" output="screen"/>
            <node name="right" pkg="motor_controller" type="motor_controller" output="screen"/>
        </group>
    </group>
</launch>