<?xml version="1.0" encoding="UTF-8"?>

<launch>

	
	<env name="GAZEBO_MODEL_PATH" value="$(find table_cdr_gazebo)/src/models" />
	<arg name="debug" default="true"/>
	<arg name="pause" default="true"/>
	<arg name="world" default="$(find table_cdr_gazebo)/src/world/table_cdr.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)" />
		<arg name="debug" value="$(arg debug)"/>
		<arg name="paused" value="$(arg pause)"/>
		<arg name="use_sim_time" value="true"/>
	</include>
</launch>
