<launch>
    <node name="encoder_left" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>

    </node>

    <node name="encoder_right" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port"              type="string"               value="/dev/ttyUSB1"/>

    </node>

</launch>

